
h2 {
    margin-top: 4em;
    text-align: center;
    color: #333;
    font-size: xx-large;
}
h3 {
    color: black;
    font-size: x-large;
    text-align: justify;
    padding: 2em;
    text-decoration: none;
    border: 2px solid #000;
    background: #ffffff;
    font-weight: lighter;

    
}
h4{
    text-align: center;
    color: #2d3033;
    font-style: italic;
    font-size: xx-large;
}
h5{
    text-align: center;
    color: #333;
    font-style: lighter;
    font-size: large;
    margin-top: 5em;
}
.AI{
    text-align: center;
    color: black;
    font-size: 3cm;
}


nav {
    margin: 0;
    padding: 1.5em;
    padding-left: 0em;
    overflow: hidden;
    background-color: #558784;
    border: 2px solid #000;
}
a.menu1 {
    display: inline;
    color: white;
    background-color: #558784;
    font-size: xx-large;
    text-align: center;
    padding: 2em;
    text-decoration: none;
}
a.menu {
    display: inline;
    color: white;
    background-color: #558784;
    font-size: x-large;
    text-align: center;
    padding: 2em;
    text-decoration: none;
}




img.udrone {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: auto;
}


table {
    overflow-x:auto;
    width: 100%;
    border: 2px solid #000;
    background:#ffffff;
    color: black;
    font-weight: lighter;
}
 th, td {
    width: 25%;
    text-align: center;
    vertical-align: center;
    padding: 1.5em;
}
img.tabla {
    width: 5em; height: 5em;
    background:#ffffff;

}


aside {
    margin-top: 10em;
    text-align: center;
    color: #558784;
    font-style: italic;
}


footer {
    margin-top: 10em;
    background-color: #558784;
    font-size: large;
    text-align: right;
    font-style: oblique;
    border: 2px solid #000;
}
.autor {
    display: inline-block;
    vertical-align: middle;
    padding-right: 3em;
    color: white;
}